<div>
  <div class=" relative">
    <img src="assets/opf2.png" class="h-screen w-screen">
  </div>

  <div class=" absolute top-0 bg-gray-200 bg-opacity-25 w-screen h-screen">
    <div class=" flex justify-center items-center h-screen">
      <div class=" bg-white rounded-md px-10 py-8 drop-shadow-2xl">
        <p class=" font-bold font-oswald text-5xl text-center text-blue-700">Forgot password ? </p>
        <div class=" flex justify-center mt-2">
          <img src="assets/resetPsswd.jpg" class=" h-64 ">
        </div>
        <p class=" text-center font-bold font-poppins">Seems like you forgot your password. If this is true, please enter your email address to reset your password.</p>

        <div class=" mt-4">
          <form class=" grid drop-shadow-2xl">
              <input type="email" placeholder="Your e-mail address" class=" border-2 border-gray-400 rounded-md py-2 px-1 ">
              <div class=" flex justify-center mt-4">
                <button class="bg-blue-600 text-white font-bold font-poppins px-4 py-2 rounded-md">Reset password</button>
              </div>
          </form>

          <div class=" mt-7">
            <p class=" font-poppins">If you did not forgot your password you can safely <span class="text-blue-600 font-bold hover:cursor-pointer" routerLink="/login">ignore this</span>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
